.createMedicine_main{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    /* background-image: url("./medicine.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.createMedicine_main .form_container{

    width: 400px;
    display: flex;
    flex-direction: column;
    padding: .7rem;
    border-radius: .4rem;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 14%;
    
}
.createMedicine_main .form_container .form_header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;

}
.createMedicine_main .form_container .label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: .3rem;
}
.createMedicine_main .form_container .btn{
    border: none;
    margin-top: 1rem;
    padding:.5rem 0rem;
    border-radius: .2rem;
    background-color: #11304c;
    color:#fff;
    cursor: pointer;
}

.createMedicine_main .form_container .label_header{
    font-size: .9rem;
}
.createMedicine_main .form_container .input_field{
    border: none;
    outline: none;
    padding: 4px 12px;
    border-radius: 5px;
    border: .2px solid #BDCDD6;
}
.createMedicine_main .form_container .input_field:focus{
        border: .2px solid #11304c;
}



.createMedicine_main .form_container .label .drpdown{
    padding: .4rem .3rem;
    margin-top: .4rem;
    border-radius: 5px;
    border: none;
    border: .2px solid #BDCDD6;

}