.profile_main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.profile_main .card_container{
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 2rem 1rem;
    position: absolute;
    top: 28%;
}
.profile_main .card_container h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.profile_main .card_container p{
    padding: .2rem;
    font-size: 1.2rem;
    
}

.profile_main .card_container p span{
    font-weight: 400;
    font-size: 1rem;
}